// @import '_foundation';
@import 'font-awesome/scss/font-awesome';

// $softgreen: rgba(94,255,153, 1);
// $darkgreen: rgba(48,178,96, 1);
// $purple: rgba(167,64,255, 1);
// $lightpurple: rgba(167,64,255, 0.95);
// $tan: rgba(204,146,55, 1);
// $brown: rgba(178,131,57, 1); 
$break-small: 800px;
$break-large: 1440px;

$softgreen: rgba(108,204,55, 1);
$darkgreen: rgba(101,178,57, 1);
$softblue: rgba(94,109,255, 1);
$darkblue: rgba(48,60,178, 1);
$orange: rgba(255,99,36, 1);

$lightgreen: rgba(108,204,55, 0.3);

$font-family: 'Lato', sans-serif;


body {
  font-family: $font-family;
}

.profile-image {
  min-width: 200px;
  max-width: 20%;
  float: left;
}

.profile {
  width: 50%;
  display: block;
  margin: 0 auto;
  padding-top: 100px;
}
.icon-bar {
  width: 125px;
  position: fixed;
  top: 200px;
  right: 30px;
    .item {
      width: 100%;
      // width: 125px;
      height: 100px;
      line-height: 100px;
      margin: 5px;
      text-align: center;
      float: left;
      font-size: 20px;
      background-color: $softblue;
      color: white;
      cursor: pointer;
      box-sizing: border-box;
      transition: background-color 0.3s;

      &:hover {
        background-color: $softgreen;
      }
      &.active {
        background-color: $orange;
      }
      label {
        cursor: pointer;
      }
    }
  @media screen and (min-width: $break-large) {
    width: 200px;
    .item {
      height: 150px;
      line-height: 150px;
    }
  }

  @media screen and (max-width: $break-small) {
    width: 100%;
    top: auto;
    bottom: 0px;
    left: 0px;
    .item {
      width: 25%;
      margin: 0px;
      border-right: 1px solid white;
      &:nth-last-child(1) {
        border-right: 0px;
      }
    }
  }
}

.container {
  margin-top: 0px;
  margin-right: 120px;
  // padding: 10px;
  @media screen and (max-width: $break-small) {
    // margin-top: 110px;
    margin-right: 0px;
  }
}
#About {
  // background-color: white;
  height: 700px;
}

#Resume {
  background-color: white;
  height: 1200px;
}

#Projects {
  background-color: white;
  height: 1000px;
}

#Music {
  background-color: white;
  height: 1500px;
}

.fixed {
  position: fixed;
}
