@import '_foundation';
@import 'font-awesome/scss/font-awesome';

#About {
  background-color: blue;
  height: 700px;
}

#Resume {
  background-color: green;
  height: 1200px;
}

#Projects {
  background-color: gray;
  height: 1000px;
}

#Music {
  background-color: black;
  height: 1500px;
}

.fixed {
  position: fixed;
}
