<div class="container">

	<h1>Profile</h1>

	<h3>I'm a passionate web developer</h3>

	<hr>

	<div class="col3">
		<h2>About me</h2>
		<p>
			I love building things and learning new technologies.  I'm currently most interested in front end engineering with a focus on AngularJS. I believe that much more can get done by working together than working alone.
		</p>
	</div>

	<div class="col3">
		<img class="profile-image" src="images/phillip_round_grayscale.png">
	</div>

	<div class="col3">
		<h2>Details</h2>

		<dl>
			<dt>Name:</dt>
			<dd>Phillip Andrew Mispagel</dd>

			<dt>Age:</dt>
			<dd>32 years</dd>

			<dt>Location:</dt>
			<dd>San Francisco Bay Area</dd>
		</dl>

	</div>


</div>