
	<h4>Professional Experience</h4>
	<p>Places I've worked and things I've done.</p>

	<table>
		<tbody>
			<tr>
				<td>Moboom</td>
				<td>Software Engineer</td>
				<td>June 2014 - Present</td>
			</tr>
			<tr>
				<td>Genesys</td>
				<td>Software / Devops Engineer</td>
				<td>June 2014 - Present</td>
			</tr>
			
			<tr>
				<td>VMware</td>
				<td>Automation Engineer</td>
				<td>June 2014 - Present</td>
			</tr>
			<tr>
				<td>MobiTV</td>
				<td>Application Support Engineer</td>
				<td>June 2014 - Present</td>
			</tr>
			<tr>
				<td>Headsets.com</td>
				<td>Application Support Engineer</td>
				<td>June 2014 - Present</td>
			</tr>

		</tbody>
	</table>
</div>

	<h4>Education</h4>
	<p>Places I've educated myself.</p>


	<table>
		<tbody>
			<tr>
				<td>Devbootcamp</td>
				<td>Web development</td>
				<td>March 2013 - June 2013</td>
			</tr>
			<tr>
				<td>ITT-Tech</td>
				<td>Software / Devops Engineer</td>
				<td>June 2014 - Present</td>
			</tr>
			

		</tbody>
	</table>
</div>


